<% data.forEach(function(problem){ %>
    <h2><%= problem.problemName %></h2>
    <%= problem.body %>
    <form method="POST" action="/problems/addNewTag/<%= problem._id %>">
        <input type="text" name="newTag" />
        <input type="submit"/>
    </form>
    <a href="/home/userDefinedTags/<%= problem._id %>">Show user tags</a>
<% }) %>

<!-- Tags -->