<html>
    <head>
        <title>Home</title>
        <script src="/js/home.js"></script>
    </head>
    <body>
        <form method="POST" action="/problems">
        <h1>Author</h1>
        <select multiple id="author" name="author">
            <% authorTags.forEach(function(tagObj) { %>
                <option><%= tagObj.tag %> </option>
                <% }) %>
        </select>

        <h1>Concepts</h1>
        <select multiple id="concept" name="concept">
            <% actualTags.forEach(function(tagObj) { %>
                <option><%= tagObj.tag %> </option>
                <% }) %>
        </select>

        <% if(userDefinedTags) { %>
        <h1>UserDefinedTags</h1>
        <select multiple id="userDefined" name="userDefined">
            <% userDefinedTags.forEach(function(tag) { %>
                <option><%= tag %> </option>
                <% }) %>
        </select>
        <% } %>

        <a href="/problems/problem">Create new question</a>
        <h1 id="title"></h1>
        <button type="submit">Submit</button>
    </form>

    <input type="text" name="search" id="searchText" onkeyup="searchHandler()"/>
    </body>
</html>