<html>
    <head>
        <title>User Tags</title>
    </head>
    <body>
        <form method="POST" action="problem">
            <input name="problemName" type="text" />
            <textarea name="tags" type="text" ></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
